@use '../base/variables' as v;
@use '../base/mixins' as m;

.testimoniales {
    
    &__title {
        text-align: center;
        margin: v.$separacion 0;
    }

    &__grid {
        @include m.tablet { 
            @include m.grid(5, 2rem);
        }
    }

    blockquote {
        margin: 2rem 0 0;
        font-size: 2rem;
        line-height: 1.5;
        position: relative;
        padding-left: 3rem;

        &:before {
            content: "\"";
            font-size: 10rem;
            display: inline;
            position: absolute;
            top: -4rem;
            left: 0rem;
            padding: 0 0 01rem;
            opacity: 0.2;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

}

.testimoniales__card {
    background-color: v.$secundario;
    color: v.$blanco;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include m.tablet { 
        margin-bottom: 0;
        &:nth-of-type(1) {
            grid-column: 1/4;
        } 

        &:nth-of-type(3) {
            grid-column: 5/6;
            grid-row: 1/3;
        } 
        
        &:nth-of-type(4) {
            grid-column: 1/3;
        } 

        &:nth-of-type(5) {
            grid-column: 3/5;
        } 
    }

    .usuario {
        display: flex;
        gap: 2rem;
        align-items: center;
        .usuario__foto {
            flex-basis: 10rem;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 100%;
            }
        }

        &__name {
            margin: 0.5rem 0;
            color: v.$blanco;
            font-weight: 700;
        }
    }
}
